@charset "utf-8"; 

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container{ 
    width:90%; 
    max-width:1132px; 
    margin:0 auto; 
}    

.cfixed:after, .container:after{ 
    display:block; 
    content:""; 
    clear:both; 
} 



.info-wrapper {
    line-height: 150%;
    border-radius:60px;
    width:55%; 
    max-width:730px;
    height: 730px;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.85);
    z-index: 10;
    position: absolute;
    top:50%;
    left:50%;
}

.info-wrapper strong{
    color: #ff5010; 
 }

.info-wrapper.closed {
    opacity: 0;
    width:  0;
    height: 0;
}

.info-wrapper ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
    margin: 0;
  list-style: none;
  font-size: 20px;
  /* float: left; */
}

.info-wrapper li {
    width: 30%;
    max-width: 250px;
}

.info-wrapper.closed .info-text {
    opacity: 0;
    width:  0;
    height: 0;
    /* left: 0; */
    /* top: 0; */
}

.info-wrapper.closed .close-info {
    width:  0;
    height: 0;
    /* left: 0; */
    /* top: 0; */
}

.info-wrapper .info-text, .info-wrapper .info-li {
    position: relative;
    top: 30px;
    left: 30px;
    font-family: 'ACCchildrenheartOTF-Regular';
    font-size: 20px;
    color: white;
}

.info-wrapper .close-info {
     position: absolute;
     z-index: 1;
     top:24px;
     right:40px;
     width:40px;
     height:40px;
     cursor: pointer;
     color:#ff4500;
     font-size: 19px;
     background-color: transparent;
     border-radius: 5px;
     border: 0px solid ; 
 }
.info-wrapper .close-info:hover {
     cursor: pointer;
     background-color: #3d3d50;
     border-radius: 5px;
 }

.blind{ 
    position:absolute; width:0; height:0; line-height:0; text-indent:-9999px; overflow:hidden; 
} 

.draggable {
    width:  auto;
    height: 0;
    cursor: pointer;
}
.draggable.active {
    cursor: pointer;
    width: auto;
    height: auto;
}

.start img{
    position: absolute;
    left: 0;
    top: 50px;
    object-fit:cover;
    resize:both;
    overflow: auto;
}
.start img:hover{
    background-color:rgba(0,0,0,0.2); 
    transform:translateY(2px); 
    opacity: 0.9;
} 

.sec-tit{ font-size:42px; color:#ff4500; font-weight:normal; } 
.divider{ width:90%; max-width:1132px; margin:0 auto; margin-top:77px; background:#eee; } 
.m-divider{ width:20px; margin:0 auto; margin-top:77px; background:#ff4500; } 

/* 헤더 영역 CSS */  
.header{ position:relative; padding:12px 10px; top: 0; left: 0; right: 0; } 
.logo_btn{background: transparent; border-radius: 6px; box-shadow: 1px 1px 10px 1px #6b8196;
     border: 0px solid ; 
     z-index: 10;
}
.header button:hover{
    cursor: pointer;
    background-color: #3d3d50;
    border-radius: 5px;
    z-index: 10;
}


.header .logo{ float:left; background: transparent;} 
.slider img{ display:block; width:100%; max-width:100%; height:auto; box-shadow: 1px 1px 10px 1px #6b8196;pointer-events: none;}
  body {
    background: #212129;
 }
 
 .search-wrapper {
     position: relative;
     float: right;
     margin-right: 50px;
     /* transform: translate(-50%, -50%); */
     /* left:50%; */
 }
 
 .search-wrapper .input-holder {    
     height: 70px;
     width:70px;
     /* overflow: hidden; */
     /* background: rgba(255,255,255,0); */
     border-radius:6px;
     position: relative;
     transition: all 0.3s ease-in-out;
     /* border: 2px solid;
     border-color:#e14000; */
 }
 .search-wrapper.active .input-holder {
     width:450px;
     border-radius: 50px;
     /* background: rgba(46, 46, 46, 0.7); */
     background: rgba(46, 46, 46, 0.7);
     /* transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570); */
 }
 .search-wrapper .input-holder .search-input {
     width:100%;
     height: 50px;
     padding:0px 70px 0 20px;
     /* opacity: 0; */
     position: absolute;
     top:0px;
     left:0px;
     background: transparent;
     box-sizing: border-box;
     border:none;
     outline:none;
     font-family: 'SEBANG_Gothic_Bold';
     font-size: 24px;
     color:white;
     font-weight: 50;
     line-height: 20px;
     transform: translate(0, 60px);
     transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition-delay: 0.3s;
 }
 .search-wrapper.active .input-holder .search-input {
     opacity: 1;
     transform: translate(0, 10px);
 }
 .search-wrapper .input-holder .search-icon {
     width:70px;
     height:70px;
     /* border:2px solid; */
     border-radius:60px;
     border:2px solid;
     /* border-color:#e14000; */
     border-color: rgb(52, 52, 52);
     color:white;
     background: rgb(174, 174, 174);
     padding:0px;
     outline:none;
     position: relative;
     z-index: 2;
     float:right;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
 }
 .search-wrapper.active .input-holder .search-icon {
     width: 60px;
     height:60px;
     margin: 6px;
     border-radius: 30px;
 }
 .search-wrapper .input-holder .search-icon span {
     width:22px;
     height:22px;
     display: inline-block;
     vertical-align: middle;
     position:relative;
     transform: rotate(45deg);
     transition: all .1s cubic-bezier(0.650, -0.600, 0.240, 1.650);
 }
 .search-wrapper.active .input-holder .search-icon span {
     transform: rotate(-45deg);
 }
 .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
     position: absolute; 
     content:'';
 }
 
 .search-wrapper .close {
     position: absolute;
     z-index: 0;
     top:15px;
     right:20px;
     width:40px;
     height:40px;
     cursor: pointer;
     transform: rotate(-180deg);
     transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
     transition-delay: 0.1s;
    background: transparent; border-radius: 6px; border: 0px solid;}

 .search-wrapper.active .close {
     right:-40px;
     font-size: 25px;
     /* transform: rotate(45deg); */
     transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition-delay: 0.5s;
 }

/* 푸터 영역 CSS */ 
.footer{ margin-top:104px; } 
.footer iframe{ width:100%; height:320px; } 
.footer p{ margin:21px 0; color:#ff4500; text-align:center; }    

/* 태블릿용 CSS */ 
@media all and (min-width:768px){ 
    /* 기본 CSS */ 
    .divider{ 
        margin-top:124px; 
    }    
    .m-divider{ 
        margin-top:124px; 
    } 
    /* 헤더 영역 CSS */ 
    .header{ position:static; padding:12px 10px; } 
    .header .menu-toggle-btn{ display:none !important; } 
    .header .logo_btn{z-index: 10;}
    .header button{z-index: 10;}
    /* 푸터 영역 CSS */ 
    .footer iframe{ height:432px; } .footer p{ margin:34px 0; }  
    .start{ }
} 
